@model Majorsilence.Vpn.Site.Models.Setup
@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/GeneralLayout.cshtml";
}

<br/>
<div id="vpnaccountcreation">

    <div id="activeaccount">

        <h3>Create and Download VPN Certs</h3>
        <form id="formasetup" runat="server" class="form-inline" role="form">
            Note: Changing Regions will revoke any previous certs you have downloaded.
            <br/><br/>
            Current VPN Server: <span id="currentvpnserver">@Model.CurrentServer</span>
            <br/>
            Change VPN Server:
            <select id="SelectVpnServer" class="form-control">

                @{
                    foreach (var server in Model.ServerInfo)
                    {
                        <option value="@server.VpnServerId.ToString()">@(server.VpnServerName + " - " + server.RegionName)</option>
                    }
                }
            </select>
            <br/>
            Username: @Model.Username
            <br/>
            Note: <strong>This may take several seconds.</strong> <br/>
            <input id="ButtonChangeVpnServer" type="submit" value="Save Change" name="savecert" class="btn btn-success btn-lg"/>
            <br/><br/>
            <div class="row">

                <div class="section col-md-6">
                    <h2>OpenVPN - Recommended (Secure)</h2>
                    IP Address:
                    <b>
                        <span id="currentvpnserverip">@Model.PptpIP</span>
                    </b>, only used if not using the ovpn file. <br/>
                    <a href="/Generic/DownloadOpenVpnCert" class="btn btn-primary btn-lg">Download OpenVPN Certificate</a> <br/>
                    Password: none, use the certificate
                </div>

                <div class="section col-md-6">
                    <h2>PPTP (Easy but not reliable)</h2>
                    IP Address:
                    <b>
                        <span id="currentvpnserverip">@Model.PptpIP</span>
                    </b> <br/>
                    Username: @Model.Username <br/>
                    Password:
                    <b>
                        <span id="currentvpnserverpassword">@Model.PptpPassword</span>
                    </b>
                </div>


            </div>
        </form>
    </div>
    <div id="inactiveaccount">
        <h2>
            <a href="/account#billing">Activate Account</a>
        </h2>
        Before you can connect to a vpn server you must first <a href="/account#billing">activate your account</a>.
        Once you have activated your account this page will provide options to create Open VPN and pptp vpn accounts.
    </div>

</div>

<br/> <br/>
<div class="row">
    <div class="section col-md-6">
        <h2>OpenVPN - Setup Instructions</h2>
        <ul>
            <li>
                <a href="/knowledgebase?code=openvpnwindows">Configure Open VPN - Windows</a>
            </li>
            <li>Configure Open VPN - OSX</li>
            <li>
                <a href="/knowledgebase?code=openvpnubuntu">Configure Open VPN - Ubuntu</a>
            </li>
            <li>
                <a href="/knowledgebase?code=openvpnandroid">Configure Open VPN - Android</a>
            </li>
            <li>Configure Open VPN - iOS</li>
        </ul>
    </div>

    <div class="section col-md-6">
        <h2>PPTP - Setup Instructions</h2>
        <ul>
            <li>
                <a href="/knowledgebase?code=pptpwindows">PPTP - Windows</a>
            </li>
            <li>PPTP - OSX</li>
            <li>
                <a href="/knowledgebase?code=pptpubuntu">PPTP - Ubuntu</a>
            </li>
            <li>
                <a href="/knowledgebase?code=pptpandroid">PPTP - Android</a>
            </li>
            <li>PPTP - iOS</li>
        </ul>
    </div>
</div>

<script src="/assets/javascript/setup.js" type="text/javascript"></script>
<script>
     @{
         <text>   
    $(document).ready(function () {
         Setup.Init(@(Model.SessionVariables.LoggedIn.ToString().ToLower() + ", " + Model.ActiveAccount.ToString().ToLower()));
     });
	     
     </text>
     }

</script>