@{
    ViewBag.Title = "Validate Reset Password Code";
    Layout = "~/Views/GeneralLayout.cshtml";
}

@{
	string resetcode = ViewData["resetcode"]?.ToString();
	if (resetcode == null)
	{
		resetcode="";
	}

}


<h1>@Resources.Main.ResetPassword</h1>

<form name="input" method="post" class="form">
    <b>@Resources.Main.ResetCode:</b>
	
	@{	 
 		if(resetcode != "")
		{
			<input type="text" name="code" id="resetCode" placeholder="Reset Code" autocorrect="off" autocapitalize="off" class="form-control" value="@(resetcode)" /><br />
		}
		else
		{
			 <input type="text" name="code" id="resetCode" placeholder="Reset Code" autocorrect="off" autocapitalize="off" class="form-control" /><br />
		}
	}

   

    <b>@Resources.Main.NewPassword:</b>
    <input type="password" name="code" id="newpsw" placeholder="New Password" class="form-control" autocorrect="off" autocapitalize="off" /><br />

    <b>@Resources.Main.ConfirmPassword:</b>
    <input type="password" name="code" id="cnewpsw" placeholder="Confirm Password" class="form-control" autocorrect="off" autocapitalize="off" /><br />
    <input type="submit" value="Submit" id="validatemyresetcode" class="btn btn-success" />
</form>

 <script src="/assets/javascript/validateresetcode.js" type="text/javascript"></script>
 <script>
      @{
     <text>   
    $(document).ready(function () {
         ValidateResetCode.Init();
     });
	     
     </text>
	 }

</script>

