@{
    ViewBag.Title = "Site Info";
    Layout = "~/Views/AdminView.cshtml";
}

@{
	string status = VpnSite.Helpers.GlobalHelper.RequestEncodedParam("status");
	if (status != null)
	{
		string msg;
		if(status == "ok")
		{
			msg = VpnSite.Helpers.Message.CreateMessage("Changes Saved", "Changes Saved", VpnSite.Helpers.Message.MessageType.Information);
			
		}
		else{
			msg = VpnSite.Helpers.Message.CreateMessage("Error saving: " + status, "Changes Saved", VpnSite.Helpers.Message.MessageType.Error);
		}
		
	
		@Html.Raw(msg);
	
	}
}

<form method="post" action="/admin/savesiteinfo" role="form">    
	    	 Id: <input id="siteid" name="siteid" type="text" value="@(LibLogic.Helpers.SiteInfo.Id)" class="form-control" readonly>
      <br />
        Admin Email: <input id="adminemail" name="adminemail" type="email" value="@(LibLogic.Helpers.SiteInfo.AdminEmail)" 
        autocorrect="off" autocapitalize="off" class="form-control" />
		<br />

@{

	if (LibLogic.Helpers.SiteInfo.LiveSite)
	{
		@Html.Raw("Live Site (if true no beta key required): <input checked id = \"livesite\" name=\"livesite\"  type=\"checkbox\" class=\"form-control\" />");
	}
	else
	{
		@Html.Raw("Live Site (if true no beta key required): <input id = \"livesite\" name=\"livesite\"  type=\"checkbox\" class=\"form-control\" />");
	}

}

    
    <br />

        Site Name: <input id="sitename" name="sitename" type="text" 
        value="@(LibLogic.Helpers.SiteInfo.SiteName)" class="form-control" />
      <br />


   Site Url: <input id="siteurl" name="siteurl" type="text" 
   value="@(LibLogic.Helpers.SiteInfo.SiteUrl)" class="form-control" />   
      <br />
    
    Vpn Ssh Port: <input id="sshport" name="sshport" type="text" 
    value="@(LibLogic.Helpers.SiteInfo.SshPort)" class="form-control" />   
      <br />
          
     Vpn Ssh User: <input id="vpnsshuser" name="vpnsshuser" type="text" 
     value="@(LibLogic.Helpers.SiteInfo.VpnSshUser)" class="form-control" />   
      <br />   
      
     Vpn Ssh Password: <input id="vpnsshpassword" name="vpnsshpassword" type="password" 
     value="@(LibLogic.Helpers.SiteInfo.VpnSshPassword)" class="form-control" />   
      <br />
          
      Stripe API Public Key: <input id="stripeapipublickey" name="stripeapipublickey" type="text" 
      value="@(LibLogic.Helpers.SiteInfo.StripeAPIPublicKey)" class="form-control" />   
      <br />
     
     Stripe API Secret Key: <input id="stripeapisecretkey" name="stripeapisecretkey" type="password" 
     value="@(LibLogic.Helpers.SiteInfo.StripeAPISecretKey)" class="form-control" />   
      <br />

          <p>
        Currency: <input id="currency" name="currency" type="text" 
        value="@(LibLogic.Helpers.SiteInfo.Currency)" class="form-control" />

    </p>
    <p>
        StripePlanId: <input id="stripeplanid" name="stripeplanid" type="text" 
        value="@(LibLogic.Helpers.SiteInfo.StripePlanId)" class="form-control" />
    </p>
    <p>
     Monthly Payment Rate: <input id="monthlypaymentrate" name="monthlypaymentrate" type="text" 
     value="@(LibLogic.Helpers.SiteInfo.CurrentMonthlyRate)" class="form-control" />
	</p>
	<p>
     Yearly Payment Rate: <input id="yearlypaymentrate" name="yearlypaymentrate" type="text" 
     value="@(LibLogic.Helpers.SiteInfo.CurrentYearlyRate)" class="form-control" />
	</p>
        
<p>
 <input type="submit" value="Save" class="form-control" />
</p>
</form>

